{{define "Head"}}<title>{{.EntrySpec.Path}} at {{.EntrySpec.RepoRev.Rev}} - {{.Repo.URI}} - Sourcegraph</title>
<meta name="robots" content="noindex">
{{end}}

{{define "RepoBody"}}
{{if .Documentation}}
<div class="plain-file readme panel panel-default">
	<div class="panel-heading readme-file">
		<div class="btn-group pull-right">
			<a href="{{router.URLToRepoTreeEntryRaw .EntrySpec.RepoRev.URI .EntrySpec.RepoRev.Rev .EntrySpec.Path}}">View source</a>
		</div>
		<i class="fa fa-book"></i> {{template "Breadcrumb" (fileToBreadcrumb .EntrySpec.RepoRev.URI .EntrySpec.RepoRev.Rev .EntrySpec.Path)}}
	</div>
	<div class="panel-body rendered-markdown repo-doc-body">
		{{sanitizeHTML .Documentation}}
	</div>
</div>

{{end}}
{{end}}
