{{partial "header.html" .}}

<section id="main">
<h1 id="title">Configuring Sourcegraph</h1>
<article id="content" class="app-docs-body">
	<br>
	<p>Sourcegraph may be run with command line flags (run <code>src serve -a</code>
		to list options) and/or configuration which can be set in a <code>config.ini</code> file.</p>
	<p>Our cloud install script and linux packages will create a default
		config file at <code>/etc/sourcegraph/config.ini</code>.</p>
	<p>Here is a sample configuration in TOML format:</p>
	<pre><code>[serve]
; Sets the HTTP port of your Sourcegraph server.
http-addr = :3080
; Sets the URL of your Sourcegraph server (point DNS records to the host IP address).
app-url = http://src.mycompany.com:3080</code></pre>
	<p>The <code>src</code> CLI provides additional ways to interact
		with and customize Sourcegraph to fit your needs.<p>
	<p>These articles provide detailed instructions for configuring your server.</p>
{{partial "section_list.html" .}}

</article>
</section>

{{partial "footer.html" .}}
