<section id="main">
<h1 id="title">Getting started with Sourcegraph</h1>
<article id="content" class="app-docs-body">
	<br>
	Sourcegraph is a <b>self-hosted Git repository service</b> with Code Intelligence.
	<hr>
	<h2>Install on Mac OS X</h2>
	<pre><code>curl -O -L https://sourcegraph.com/.download/latest/darwin-amd64/src.gz
gunzip src.gz
chmod +x src
./src serve</code></pre>
	<h2>Install on Linux</h2>
	<pre><code>curl -O -L https://sourcegraph.com/.download/latest/linux-amd64/src.gz
gunzip src.gz
chmod +x src
./src serve</code></pre>
	<h2>Install on the cloud</h2>
	<ul>
		<li><a href="https://src.sourcegraph.com/sourcegraph/.docs/getting-started/amazon-ec2/">AWS</a></li>
		<li><a href="https://src.sourcegraph.com/sourcegraph/.docs/getting-started/digital-ocean/">DigitalOcean</a></li>
		<li><a href="https://src.sourcegraph.com/sourcegraph/.docs/getting-started/google-cloud-platform/">Google Cloud Platform</a></li>
	</ul>
	<h2>Install from source</h2>
	<p>Follow the <a href="https://src.sourcegraph.com/sourcegraph@master/.tree/README.dev.md">developer README</a>.</p>
</article>
</section>
