<nav class="sidebar">
	<h1><a href="{{.Site.BaseURL}}">{{ .Site.Title }}</a></h1>
	<ul class="nav sidenav">
		{{if .IsPage}}
			{{ $.Scratch.Add "PageUniqueID" .UniqueID }}
			{{ $.Scratch.Add "PageSection" .Section }}
		{{else if not .IsHome}}
			{{ $.Scratch.Add "PageSection" (replace .URLPath.URL "/" "")}}
		{{end}}
		{{range $.Site.Params.SectionOrder}}
			{{ $section := . }}
			{{ range $.Site.Pages.GroupBy "Section" }}{{if eq .Key $section}}
				<li class="{{if eq ($.Scratch.Get "PageSection") $section}}active{{end}}">
					<a href="{{.Key|relURL}}/">
						{{with index $.Site.Params.SectionNames .Key}}{{.}}{{else}}{{title .Key}}{{end}}
					</a>
					<ul class="nav">
						{{ range .Pages.ByLinkTitle }}
							<li class="{{if eq ($.Scratch.Get "PageUniqueID") .UniqueID}}active{{end}}">
								<a href="{{ .Permalink }}">
									{{with .LinkTitle}}{{.}}{{else}}{{ .Title }}{{end}}
								</a>
							</li>
						{{ end }}
					</ul>
				</li>
			{{end}}{{end}}
		{{end}}
	</ul>
</nav>
