{{define "Head"}}<title>Sourcegraph</title>
{{end}}

{{define "Body"}}

<script ignore-csp>
	window.repos = JSON.parse({{json .Repos}}) || [];
	window.users = JSON.parse({{json .Users}}) || [];
	window.currentUser = JSON.parse({{json .CurrentUser}});
	window.mirrorData = JSON.parse({{json .MirrorData}});
	window.teammates = JSON.parse({{json .Teammates}});
	window.onWaitlist = JSON.parse({{json .OnWaitlist}}) || false;

	window.progress = {
		numSteps: 4,
	};
	{{if (or (and .PrivateMirrors .CurrentUser) .LinkGitHub)}}
		{{if .LinkGitHub}}
			window.progress.currentStep = 0;
			window.progress.githubLinkURL = "{{router.URLToGitHubOAuth}}";
		{{else}}
			{{if .GitHubOnboarding}}
				window.progress.currentStep = 1;
			{{else}}
				window.progress.currentStep = 50; // done
			{{end}}
		{{end}}
	{{else}}
		window.progress.currentStep = 50; // done
	{{end}}

	window.isMothership = JSON.parse({{json isMothership}});
	window.allowMirrors = JSON.parse({{json .PrivateMirrors}});
</script>

<div class="dashboard">
	<div id="DashboardContainer"></div>
	<div id="OnboardingContainer"></div>
</div>

{{end}}
