{{define "Title"}}{{.StatusCode}} {{.Status}} - Sourcegraph Developer{{end}}

{{define "Main"}}

<h1 id="pageTitle">{{.StatusCode}} - {{.Status}}</h1>

<p>It looks like something went wrong -- sorry! Please <a target="_blank" href="https://src.sourcegraph.com/api/.tracker">open a thread</a>.</p>

<p>Error:</p>
<pre>
    {{.Err}}
</pre>

{{end}}
