{{define "DefExamples"}}
<div>
	{{if len .Examples}}
		<ol class="examples list-unstyled" id="examples">
			{{ $rev := .File.RepoRev.Rev }}
			{{ $defURL := urlToDefAtRev .Def.DefKey $rev }}
			{{range .Examples}}
				<li>
					{{if not .Error}}
						<div class="example">
							<header>
								<div class="pull-right">{{template "RepoLink" (repoLink .Repo)}}</div>
								{{template "Breadcrumb" (snippetToBreadcrumb .Repo $rev .File (toInt .StartLine) (toInt .EndLine) $defURL)}}
							</header>
							<pre class="code theme-default"><code>{{sanitizeFormattedCode .SrcHTML}}</code></pre>
						</div>
						<br>
					{{else}}
						<div class="alert alert-warning">An error occurred while showing an example from {{template "Breadcrumb" (snippetToBreadcrumb .Repo $rev .File (toInt .StartLine) (toInt .EndLine) $defURL)}}.</div>
					{{end}}
				</li>
			{{end}}
		</ol>
		{{if not (eq .CurrentRoute "def.examples")}}
			{{if gt .Def.TotalExamples (len .Examples)}}
				<div>
					<a href="{{urlToDefSubroute "def.examples" .Def.DefKey}}">View all {{.Def.TotalExamples}} examples</a>
				</div>
			{{end}}
		{{else}}
			{{if .PageLinks}}{{template "Pagination" .PageLinks}}{{end}}
		{{end}}
	{{else}}
		<div class="">
			No references found.
		</div>
	{{end}}
</div>
{{end}}
