<html>
	<head>
		<link href="{{.BaseURI}}/assets/style.css" rel="stylesheet" type="text/css" />
		<script src="{{.BaseURI}}/assets/script/script.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="center-max-width">
			<div class="content">
				<div id="checking_updates"><h2 style="text-align: center;">Checking for updates...</h2></div>
				<div id="no_updates" style="display: none;"><h2 style="text-align: center;">No Updates Available</h2></div>
