<div class="list-entry go-package-update" id="{{.Repo.Root}}" style="position: relative;">
	<div class="list-entry-header">
	{{/* TODO: Make this simpler. */}}
	{{/*if eq (len .Repo.GoPackages) 1*/}}
	{{if false}}
		<span title="{{.Repo.ImportPaths}}">
			{{if .Home}}
				<a href="{{.Home}}" target="_blank"><strong>{{(index .Repo.GoPackages 0).Bpkg.ImportPath}}</strong></a>
			{{else}}
				{{(index .Repo.GoPackages 0).Bpkg.ImportPath}}
			{{end}}
		</span>
	{{else}}
		<span title="{{.Repo.ImportPathPattern}}">
			{{if .Home}}
				<a href="{{.Home}}" target="_blank"><strong>{{.Repo.ImportPathPattern}}</strong></a>
			{{else}}
				{{.Repo.ImportPathPattern}}
			{{end}}
			{{/*<span class="smaller">({{len .Repo.GoPackages}} packages)</span>*/}}
		</span>
	{{end}}

		<div style="float: right;">
			{{if updateSupported}}
				<a href="javascript:void(0)" onclick="UpdateRepository('{{.Repo.Root}}');" class="update-button" title="go get -u -d {{.Repo.ImportPathPattern}}">Update</a>
			{{else}}
				<span style="color: gray; cursor: default;" title="Updating repos is not currently supported for this source of repos.">Update</span>
			{{end}}
		</div>
	</div>
	<div class="list-entry-body">
		<img style="float: left; border-radius: 4px;" src="{{.Image}}" width="36" height="36">

		<div>
			{{if .Changes}}
				<ul class="changes-list">
					{{range .Changes}}<li>{{.Message}}<span class="highlight-on-hover"><a href="{{.URL}}" target="_blank"><span class="octicon octicon-git-commit gray" title="Commit"></span></a></span><span style="float: right; margin-right: 6px;">{{template "comments" .Comments}}</span></li>
					{{end}}
				</ul>
			{{else}}
				<div class="changes-list">
					unknown changes
					{{with .Repo.Local.Revision}}from {{template "commitID" .}}{{end}}
					{{with .Repo.Remote.Revision}}to {{template "commitID" .}}{{end}}
				</div>
			{{end}}
		</div>
		<div style="clear: both;"></div>
	</div>
</div>

{{define "comments"}}
	{{if .Count}}
		<a href="{{.URL}}" target="_blank"><span class="octicon octicon-comment gray" title="{{.Count}} comments"> {{.Count}}</span></a>
	{{end}}
{{end}}

{{define "commitID"}}<abbr title="{{.}}"><code class="commitID">{{commitID .}}</code></abbr>{{end}}
