#main {
	margin: 0 auto;
}
#main div.center-max-width {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}
#main div.content {
	margin: 12px;
	margin-top: 20px;
	margin-bottom: 80px;
}
#main a, #main a span {
	color: #4183c4;
	text-decoration: none;
}
#main a:hover, #main a span:hover {
	text-decoration: underline;
}
#main h2 {
	margin-top: 40px;
	margin-bottom: 40px;
}

#main .disabled {
	pointer-events: none;
	cursor: default;
	color: gray;
	text-decoration: none;
}
#main span.smaller {
	font-size: 11px;
	color: gray;
}
#main span.gray {
	color: gray;
}

#main div.list-entry {
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-bottom: 12px;
}
#main div.list-entry-header {
	background-color: #f8f8f8;
	padding: 10px;
	border-radius: 4px 4px 0 0;
	border-bottom: 1px solid #eee;
}
#main div.list-entry-body {
	padding: 10px;
}
#main .changes-list {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 64px;
}

#main .highlight-on-hover a {
	color: gray;
}
#main .highlight-on-hover {
	float: right;
	opacity: 0.25;
}
#main li:hover .highlight-on-hover {
	opacity: 1.0;
}

#main .commitID {
	background-color: rgb(238, 238, 238);
	padding: 1px 4px;
}
