<div class="changeset-list">
	<ul class="changeset-tabs nav nav-tabs">
		<li class="{{if .Op.Open}}active{{end}}">
			<a href="{{$.BaseURI}}"><span class="octicon octicon-git-pull-request"></span>Open</a>
		</li>
		<li class="{{if .Op.Closed}}active{{end}}">
			<a href="{{$.BaseURI}}?closed=true"><span class="octicon octicon-x"></span>Closed</a>
		</li>
		<li class="{{if .Op.NeedsReview}}active{{end}}">
			<a href="{{$.BaseURI}}?assigned=true"><span class="octicon octicon-checklist"></span>Assigned to me</a>
		</li>
		<a class="btn btn-success compare-review" href="{{urlToCompare $.Ctx}}">
			<span class="octicon octicon-git-compare"></span> Create a new changeset
		</a>
	</ul>

	{{$repo := .Repo.URI}}

	<div class="changeset-list-tab-content">
		{{if eq (len .List) 0}}
			{{if .Op.NeedsReview}}
				<div class="changeset-empty-list">No open changesets are assigned to you and require review.</div>
			{{else}}
				<div class="changeset-empty-list">No {{if .Op.Closed}}closed{{else}}open{{end}} changesets.</div>
			{{end}}
		{{else}}
			<table>
				<tbody>
					{{range .List}}
						<tr>
							<td class="table-cell-id">
								<div class="changeset-id">
									<a href="{{urlToChangeset $.Ctx .ID}}">#{{.ID}}</a>
								</div>
							</td>
							<td class="table-cell-title">
								<div class="changeset-title">
									<a href="{{urlToChangeset $.Ctx .ID}}">{{.Title}}</a>
								</div>
								<div class="changeset-spec">
									to merge {{.DeltaSpec.Head.Rev}} into {{.DeltaSpec.Base.Rev}}
								</div>
								{{with .Author.Login}}
								<div class="changeset-author">
									by <a class="author-name" href="{{urlToUser .}}">
										{{.}}
									</a>
								</div>
								{{end}}
							</td>
							<td class="table-cell-time">
								<div class="changeset-time">
									{{if .ClosedAt}}
										{{if .Merged}}merged{{else}}closed{{end}} {{timeAgo .ClosedAt}}
									{{else}}
										opened {{timeAgo .CreatedAt}}
									{{end}}
								</div>
							</td>
						</tr>
					{{end}}
				</tbody>
			</table>
		{{end}}
	</div>
</div>

{{if or .NextPageURL .PrevPageURL}}
<div class="pagination-controls">
	<ul class="pagination">
		<li class="{{if not .PrevPageURL}}disabled{{end}}"><a href="{{.PrevPageURL}}">◀</a></li>
		<li class="{{if not .NextPageURL}}disabled{{end}}"><a href="{{.NextPageURL}}">▶</a></li>
	</ul>
</div>
{{end}}
