{{define "Head"}}<title>Build {{.Build.Spec.IDString}} - Sourcegraph</title>
<meta name="robots" content="noindex">
{{end}}

{{define "RepoBody"}}
<nav class="page-actions build-actions">
	<a class="btn btn-default btn-sm" href="{{urlToRepoSubroute "repo.builds" .Repo.URI}}">&laquo; View all builds</a>
	<form action="{{urlToRepoSubroute "repo.builds.create" .Repo.URI}}" method="post" class="form-inline">
		<input type="hidden" name="CommitID" value="{{.Build.CommitID}}">
		<input type="hidden" name="Branch" value="{{.Build.Branch}}">
		<input type="hidden" name="Tag" value="{{.Build.Tag}}">
		<input type="hidden" name="Queue" value="true">
		<button
		{{if not .Commit}}disabled{{else if and .Build.Success (not (isAdmin .Ctx "Builds.Create"))}}disabled{{end}}
		type="submit" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i>&nbsp; Rebuild</button>
		{{if not .Commit}}
		<span class="help-sm-fade">Disabled because the commit could not be retrieved</span>
		{{else if and .Build.Success (not (isAdmin .Ctx "Builds.Create"))}}
		<span class="help-sm-fade">Disabled because the commit is successfully built</span>
		{{end}}
		<input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
	</form>
</nav>

<div id="BuildContainer"
	data-build="{{json .Build}}"
	data-commit="{{json .Commit}}"></div>

{{end}}
