{{define "Head"}}
<title>
	{{with .AppSubtitle}}{{.}} - {{end}}{{.AppTitle}} - {{.Repo.URI}} - Sourcegraph
</title>
{{end}}

{{define "RepoBody"}}
	{{with .AppError}}
		<strong>App Error:</strong> {{.}}
	{{else}}
		{{.AppHTML}}
	{{end}}
{{end}}
