{{define "Head"}}<title>{{.Repo.Name}} - Sourcegraph</title>
<meta name="description" content="{{repoMetaDescription .Repo}}">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@srcgraph" />
<meta name="twitter:title" content="Repository {{.Repo.URI}}{{if .Repo.GitHub}} ({{.Repo.GitHub.Stars}} stars){{end}}"/>
<meta name="twitter:description" content="{{.Repo.Description}}{{if and .Repo.Description .Repo.HomepageURL}} - {{end}}{{.Repo.HomepageURL}}" />
{{end}}

{{define "RepoBody"}}

{{if or (or .Repo.Description .Repo.HomepageURL) (not disableCloneURL)}}
	<div class="repo-meta row">
		<p class="description col-sm-9">
			{{if or .Repo.Description .Repo.HomepageURL}}
				{{sanitizeHTML .Repo.Description}}
				{{if and .Repo.Description .Repo.HomepageURL}}&mdash;{{end}}
				{{if .Repo.HomepageURL}}
					<a href="{{.Repo.HomepageURL}}" target="_blank" rel="nofollow">{{displayURL (toString2 .Repo.HomepageURL)}}</a>
				{{end}}
			{{end}}
		</p>

		{{if not disableCloneURL}}
			<div class="clone-url-container col-sm-3">
				<div data-react="RepoCloneBox"
					data-ssh="{{.Repo.SSHCloneURL}}"
					data-HTTP-Clone-URL="{{.Repo.HTTPCloneURL}}">
				</div>
			</div>
		{{end}}

	</div>

	<hr/>
{{end}}

{{template "RepoTree" $}}
{{template "RepoReadme" $}}

{{end}}
