{{define "Head"}}<title>Cloning {{.Repo.Name}} - Sourcegraph</title>
{{end}}

{{define "RepoBody"}}
<div class="well repo-interstitial repo-no-vcs-data">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 col-lg-push-3 col-md-8 col-md-push-2">
				{{if .Repo.Mirror}}
					<p class="alert alert-interstitial">
						<span class="octicon octicon-hourglass"></span>
						<strong>Cloning {{.Repo.VCS}} repository</strong>
						from
						<a href="{{.Repo.HTTPCloneURL}}">{{.Repo.HTTPCloneURL}}</a>&hellip;
					</p>
					<p class="info-interstitial">
						Reload this page in a bit.
					</p>
				{{else}}
					<h3>Nothing here yet.</h3>

					<h4>You can do one of the following...</h4>

					<hr>

					<h4>Push an existing repository</h4>
					<pre>
git remote set-url origin {{.Repo.HTTPCloneURL}}
git push -u origin master
					</pre>

					<hr>

					<h4>Create a new repository</h4>
					<pre>
echo "# {{.Repo.Name}}" >> README.md
git init
git add README.md
git commit -m "initial commit"
git remote add origin {{.Repo.HTTPCloneURL}}
git push -u origin master
					</pre>

					<hr>

					<h4>Clone this empty repository</h4>
					<pre>
git clone {{.Repo.HTTPCloneURL}}
echo "# {{.Repo.Name}}" >> README.md
git add README.md
git commit -m "add readme"
git push origin master
					</pre>
				{{end}}
			</div>
		</div>
	</div>
</div>
{{end}}
