{{define "Head"}}
<title>
{{if .Post.Title}}{{.Post.Title}} - {{end}}
{{.BlogTitle}}
</title>
{{end}}

{{define "BlogBody"}}
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-6">
		{{template "TumblrPost" .Post}}
	</div>
	<div class="col-md-4 index-container">
		<h3><a href="{{.Tumblr.Path}}"><i class="fa fa-arrow-left"></i> Back to feed</h3>
	</div>
</div>
{{end}}
