{{define "Head"}}<title>Logged out - Sourcegraph</title>
<meta name="robots" content="noindex">
{{end}}

{{define "Body"}}
<br/>
<div class="alert alert-info">You have been logged out of your <strong>{{.AppURL.Host}}</strong> account.</div>
{{end}}
