{{define "Head"}}<title>Sign in - Sourcegraph</title>
<meta name="robots" content="noindex">
{{end}}

{{define "Body"}}
<div class="row row-single-panel">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-body">
				<p class="get-started-header">Hey there,<br>welcome back!</p>
				<div class="form-container">
					<form method="post" action="{{urlToWithReturnTo "log-in" .ReturnTo}}" class="log-in">
						<p class="help-block">{{.LoginForm.FormError}}</p>
						<div class="form-group {{.LoginForm.FieldClass "Login"}}">
							<input placeholder="Username" name="Login" type="text" class="form-control" id="login" value="{{.LoginForm.Login}}" required pattern="[\w-]+" tabindex=1 autofocus>
							{{with .LoginForm.FieldError "Login"}}<p class="help-block">{{.}}</p>{{end}}
						</div>
						<div class="form-group {{.LoginForm.FieldClass "Password"}}">
							<input placeholder="Password" name="Password" type="password" class="form-control" id="password" required tabindex=2>
							{{with .LoginForm.FieldError "Password"}}<p class="help-block">{{.}}</p>{{end}}
						</div>
						<button type="submit" class="btn btn-primary btn-block" tabindex=3>LOGIN</button>
						<input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
					</form>
					<p class="small-block">
						{{if .IsLDAP}}
						Use your LDAP credentials to login.
						{{else}}
						{{.LoginForm.FieldError "Password"}} Oh no, I <a href="{{urlToWithReturnTo "forgot-password" .ReturnTo}}">forgot my password</a>
						{{end}}
					</p>
					{{if (not .IsLDAP)}}<p class="redirect-block">Don't have an account yet? <a href="{{urlToWithReturnTo "sign-up" .ReturnTo}}">Sign Up</a></p>{{end}}
				</div>
			</div>
		</div>
	</div>
</div>
{{end}}
