{{define "Head"}}<title>Password reset - Sourcegraph</title>
<meta name="robots" content="noindex">
{{end}}

{{define "Body"}}
<div class="row">
	<div class="col-md-5">
		<h1>We have sent you an email with instructions to reset your password.</h1>
	</div>
</div>
{{end}}
