<html>
	<head>
		{{template "head" .}}
	</head>
	<body>
		<div style="background-color: lightgray;">content</div>
		{{template "new-comment" .}}
		<div style="background-color: lightgray;">content</div>
	</body>
</html>

{{define "new-comment"}}
{{if .CurrentUser}}
	<div id="new-comment-container" class="edit-container list-entry" style="display: flex;">
		<div>
			<a href="{{.CurrentUser.HTMLURL}}" target="_blank" tabindex=-1>
				<img class="comment-avatar" width="48" height="48" src="{{.CurrentUser.AvatarURL}}">
			</a>
		</div>
		<div class="list-entry-border" style="flex-grow: 1;">
			<div class="list-entry-header tabs" style="display: flex;">
				<span style="flex-grow: 1; font-size: 14px;">
					<a class="write-tab-link black tab-link active" tabindex=-1 href="javascript:" onclick="SwitchWriteTab(this);">Write</a>
					<a class="preview-tab-link black tab-link" tabindex=-1 href="javascript:" onclick="MarkdownPreview(this);">Preview</a>
				</span>
				<span class="gray"><span style="margin-right: 6px;" class="octicon octicon-markdown"></span>Markdown supported</span>
			</div>
			<div class="list-entry-body">
				<textarea class="comment-editor" placeholder="Leave a comment." onpaste="PasteHandler(event);" tabindex=1></textarea>
				<div class="comment-preview markdown-body" style="padding: 10px; min-height: 120px; border-bottom: 1px solid #eee; display: none;"></div>
				<div style="text-align: right; margin-top: 10px;">
					<button class="btn btn-success btn-small" onclick="PostComment();" tabindex=1>Comment</button>
					{{$issue := .Issue}}
					{{if $issue.Editable}}{{template "toggle-button" (print $issue.State)}}{{end}}
				</div>
			</div>
		</div>
	</div>
{{else}}
	<div class="event" style="margin-top: 20px; margin-bottom: 20px;">
		Sign in to comment.
	</div>
{{end}}
{{end}}
