<style type="text/css">
    .doc.menu {
        width: 240px;
        float: right;
        margin-left: 1.5em;
    }
    .doc.menu .panel-group {
        padding-right: 5px;
    }
    .doc.menu h3 {
        text-align: center;
    }
    .doc.menu .panel-body {
        padding: 0;
    }
    .doc.menu .list-group {
        margin-bottom: 0;
    }
    .doc.menu .list-group-item {
        border-left: 0;
        border-right: 0;
    }
    .doc.menu .list-group-item:first-child {
        border-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .doc.menu .list-group-item:last-child {
        border-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .doc.menu .panel-group .panel:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    .doc.menu .panel-group .panel:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .doc.menu .panel-group .panel {
        border-radius: 0;
    }

    .doc.menu .list-group-item.active, .doc.menu .list-group-item.active:hover, .doc.menu .list-group-item.active:focus {
        background-color: #306da7;
    }

    /*
        Bootstrap definition is .panel-default>.panel-heading which doesn't work
        for our case below, so we redeclare it.
    */
    .doc.menu .panel-default>a>.panel-heading {
        color: #333;
        background: rgb(236, 236, 236);
        border-color: #ddd;
    }

</style>

<div class="doc menu">
    <h3>Services</h3>
    <div class="panel-group" id="accordion">
        {{range $f := .Request.ProtoFile}}
            {{range $i, $s := .Service}}
                {{with $s}}
                    <div class="panel panel-default" id="menu-{{.Name}}">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{$i}}">
                            <div class="panel-heading">
                                <h4 class="panel-title">{{.Name}}</h4>
                            </div>
                        </a>
                        {{$serviceURL := printf "%sapi/%s%s" $.Ctx.BaseURL (dir $f.Name) $s.GetName}}
                        <div id="collapse-{{$i}}" class="panel-collapse collapse{{if eq $serviceURL (filepath)}} in{{end}}">
                            <div class="panel-body">
                                <div class="list-group">
                                  <!-- TODO(slimsag): mark as active on page
                                  <a href="#" class="list-group-item active">{{.Name}}</a>-->
                                  {{range .Method}}
                                    {{$methodURL := print $serviceURL "#" .GetName}}
                                    <a href="{{$methodURL}}" class="list-group-item">{{.Name}}</a>
                                  {{end}}
                                </div>
                            </div>
                        </div>
                    </div>
            {{end}}
        {{end}}
    {{end}}
    </div>
</div>

<script>
    <!-- Update the services menu so that the active one is highlighted -->
    $(function() {
        var lastActive = null;
        function updateActive() {
            var l = window.location.pathname + window.location.hash;
            var active = $(".doc.menu a[href='" + l + "']");
            if(active == undefined) {
                return
            }
            active.addClass("active");

            if(!lastActive) {
                lastActive = active;
                return
            }
            lastActive.removeClass("active");
            lastActive = active;
        }
        $(window).on("hashchange", updateActive);
        updateActive();
    });
</script>
