{{define "ErrorCommon"}}
<div class="error-common">
	{{if and (.Err) (.Debug)}}
	<div class="error-message">{{.Err}}</div>
	{{end}}
	<hr />
	<p>Sorry, there’s been a problem.{{if .ErrorID}} To quickly identify this issue, use the ID <b>{{.ErrorID}}</b>.{{end}}</p>
	{{if (not .DisableExternalLinks)}}
	<p>If this issue persists, please post an issue in <a href="https://src.sourcegraph.com/sourcegraph/.tracker/new">our tracker</a> with steps to reproduce and other useful context{{if .ErrorID}}, and include the id above{{end}}. Or, <a href="mailto:help@sourcegraph.com">contact us</a> by email.</p>
	{{end}}
</div>
{{end}}
