h1.changeset-title {
	font-size: 26px;
	margin: 15px 0 0 0;

	.title-edit {
		cursor: pointer;
		display: inline-block;
		margin: 0 0 0 10px;
		position: relative;
		top: -3px;
	}

	span.changeset-id {
		font-size: 22px;
		color: #bfbfbf;
		display: inline-block;
		margin-right: 5px;
	}
}

.title-editing {
	.input-title {
		font-size: 26px;
		padding: 0px 10px;
		width: 400px;
		border: 1px solid #ddd;
	}

	.btn {
		margin-top: -5px;
	}
}

.code-review-inner {
	margin-top: 15px;
	word-break: break-word;

	.changeset-subtitle {
		margin-top: 10px;
		font-size: 13px;

		.changeset-status {
			margin: 0 10px 0 0;
			font-size: 13px;
		}

		.branch {
			display: inline-block;
			border: 1px solid #e9e9e9;
			border-radius: 3px;
			padding-left: 5px;
			font-family: $font-family-monospace;
			font-size: 11px;
			background: #fafafa;
			margin: 0 7px 0 5px;

			.build-indicator {
				padding: 0 4px;
				margin-top: -2px;
			}
		}

	}

	.changeset-tabs {
		margin-top: 25px;

		li {
			a {
				cursor: pointer;
				color: #666;

				.octicon {
					&.octicon-alert {
						&:before {
							font-size: 13px;
						}
						margin-left: 8px;
					}

					margin-right: 3px;
				}

				.fa-spinner {
					display: none;
				}

				&:hover {
					background-color: #fff;
					color: #000;
				}
			}

			&.active.loading {
				a .fa-spinner {
					display: inline-block;
					margin-left: 10px
				}
			}

			&.active {
				a {
					color: #000;
				}
			}
		}
	}

	.changeset-status {
		display: inline-block;
		padding: 3px 13px;
		font-size: 13px;
		cursor: pointer;
		margin-left: 3px;
		border: 1px solid #dedede;
		border-radius: 3px;

		&.status-merged {
			&.selected, &:hover {
				background-color: $sg-blue-color;
				border-color: darken($sg-blue-color, 10);
				color: $white;
			}
		}

		&.status-open {
			&.selected, &:hover {
				background-color: #5cb85c;
				border-color: #4cae4c;
				color: #fff;
			}
		}

		&.status-closed {
			&.selected, &:hover {
				background-color: #767676;
				border-color: darken(#767676, 15%);
				color: #fff;
			}
		}

		&:hover {
			cursor: pointer;
		}
	}

	.review-guidelines {
		margin: 5px 0;
		padding: 12px 15px 13px;
		border-radius: 3px;
		border: 1px solid #d7ebfb;
		background: #f5fafe;

		a {
			cursor: pointer;
			font-size: 13px;

			&:hover {
				text-decoration: none;
			}
		}

		i.fa {
			color: #dd9b00;
			font-size: 21px;
		}
	}

	.changeset-timeline {
		&:after {
			content: ".";
			display: block;
			visibility: hidden;
			width: 0;
			height: 0;
			clear: both;
		}

		.warning {
			color: #bd2c00;
			font-family: $font-family-monospace;
			font-size: 12px;
		}

		.left-panel {
			border-left: 1px solid #e3e3e3;
			margin: 25px 0px 30px 25px;
			padding-left: 20px;
			width: 65%;
			float: left;
		}

		.right-panel {
			border-left: 1px solid #eee;
			float: left;
			width: 32.5%;
			padding: 20px 0 50px 20px;
		}

		.changeset-control-panel {
			max-width: 200px;

			.panel-label {
				display: block;
				margin: 0 0 5px 3px;
				font-weight: bold;
			}

			.status-options {
				width: 150px;
			}

			.status-form, .merge-form {
				margin-bottom: $line-height-computed;
			}

			.merge-form {
				label, button {
					display: block;
				}
				label {
					font-weight: normal;
				}
			}

			.review-form {
				.people {
					margin-bottom: 15px;

					.reviewer, .add-person {
						line-height: 16px;
						display: inline-block;
						width: 34px;
						height: 34px;
						margin: 2px;
						text-align: center;
						vertical-align: middle;
						padding: 4px;
						border-radius: 50%;
					}

					.reviewer {
						position: relative;
						color: #999;
						background-color: #efefef;

						&.avatar {
							background-size: cover;
							.remove .btn .octicon, .lgtm .btn .octicon {
								top: -6px;
							}
						}

						&::before {
							position: relative;
							top: 4px;
						}

						.remove {
							display: none;
							.btn { background-color: #FF5757; }
						}
						.lgtm {
							display: inline-block;
							.btn { background-color: #5cb85c; }
						}
						&:hover {
							.remove { display: inline-block; }
							.lgtm { display: none; }
						}

						.remove, .lgtm {
							position: relative;
							width: 0;
							height: 0;
							top: -8px;
							right: 8px;
							float: right;
							.btn {
								padding: 4.5px;
								height: 18px;
								width: 18px;
								border: none;
								border-radius: 50%;
								&:focus {
									outline:0;
								}
								.octicon {
									font-size: 12px;
									position: relative;
									top: -5px;
								}
							}
						}
					}

					.add-person {
						border: 0;
						&:focus {
							outline:0;
						}
					}

					.add-person-menu > input {
						margin-top: 15px;
						padding: .5em;
						width: 100%;
						border: 1px solid #E3E3D3;
					}
				}
			}
		}

		.changeset-timeline-block {
			position: relative;
			table-layout: fixed;
			width: 100%;

			.changeset-timeline-icon {
				left: -28px;
				background: #fff;
			}
		}

		.timeline-review {
			.timeline-header-message {
				i {
					color: #888;
				}
			}

			.review-body {
				margin-top: 10px;
			}

			.file-name {
				margin: 10px 0 5px 0;
				i { margin-right: 3px; }
			}

			.comment-file-group {
				border-bottom: 1px solid #dedede;
				width: 660px;

				.comment-group {
					width: 100%;

					.comment {
						border: 1px solid #dedede;
						border-width: 1px 1px 0 1px;

						.comment-line-number {
							cursor: pointer;
							text-align: right;
							background: #eee;
							display: inline-block;
							width: 60px;
							padding: 5px 10px 5px 0;
							font-size: 11px;
						}

						.markdown-view {
							padding: 0 0 0 10px;
						}

						.comment-body {
							text-align: left;
							width: 100%;
						}

						.comment-body-inner {
							margin: 2px 0;
							line-height: 21px;
						}
					}
				}
			}
		}

		.changeset-timeline-header {
			&.timeline-review {
				.changeset-timeline-icon {
					span {
						&:before { left: 10px; }
						background-color: lighten($sg-blue-color, 35%);
						color: lighten($sg-blue-color, 17%);
					}
				}
			}

			&.timeline-event {
				.timeline-header-message {
					padding-bottom: 28px;
				}
			}

			&.timeline-commit {
				.changeset-timeline-icon {
					span {
						background-color: lighten(#5cb85c, 35%);
						color: #5cb85c;
					}
				}
				.header {
					margin: 15px 0 0 10px;
				}
				.user-icon {
					width: 18px;
					height: 18px;
					margin: -2px 7px 0 0;
				}
				.commit-id {
					font-family: $font-family-monospace;
					color: #666;
				}
			}

			.changeset-timeline-icon {
				margin-top: 9px;
				padding-top: 0;
				width: 5px;

				span {
					&:before {
						position: relative;
						top: 11px;
						left: 11px;
					}

					&.octicon-git-merge:before, &.octicon-person:before {
						left: 13px;
					}

					&.octicon-x:before {
						left: 12px;
					}

					&.octicon-git-commit:before, &.octicon-issue-opened:before {
						left: 10px;
					}

					display: block;
					margin-left: -38px;
					margin-top: 9px;
					color: #999;
					border-radius: 24px;
					width: 34px;
					height: 34px;
					background-color: #efefef;
				}
			}

			.timeline-header-message {
				padding: 15px 20px 20px 6px;

				.description-edit {
					cursor: pointer;
					display: inline-block;
					margin-left: 5px;
				}

				.markdown-view {
					padding: 10px 10px 0 10px;
				}
			}
		}

		.changeset-timeline-icon {
			color: #cacaca;
			line-height: 12px;
			padding-top: 3px;
			vertical-align: top;

			span {
				line-height: 12px;
			}
		}
	}

	.changeset-description {
		position: relative;
		bottom: 10px;

		.changeset-propose-form {
			border: 0;
			padding: 0;
		}
	}

	.date {
		display: inline-block;
		margin-left: 5px;
		font-style: italic;
		color: #999;
	}

	.changeset-submit-review {
		position: relative;
		top: 10px;

		&:hover {
			cursor: pointer;

			.changeset-icon-submit a {
				@include scale(1.2);
			}
		}

		.changeset-review-submit-form {
			td {
				position: relative;
				left: -35px;
				top: 30px;
				background-color: #fff;

				textarea, .markdown-view {
					border: 1px solid #ddd;
					width: 700px;
					height: 150px;
					padding: 10px;
				}

				.markdown-view { height: auto; }

				.actions {
					text-align: right;
					margin: 10px 0 15px 0;
				}
			}
		}

		.changeset-timeline-icon.changeset-icon-submit {
			a {
				display: inline-block;
				text-decoration: none;
				@include transition(0.1s all ease-in);

				span {
					&:before { left: 12px; }
					color: #fff;
					background-color: $brand-success;
				}
			}
		}
	}

	.filter-warning {
		.fa-warning {
			color: #dd9b00;
			font-size: 24px;
			float: left;
			vertical-align: middle;
			margin-right: 15px;
		}

		color: #555;
		margin-top: 20px;
		border: 1px solid darken($light-blue, 6.5%);
		background: $light-blue;
		border-radius: 3px;
		padding: 20px 25px;
	}

	.file-diff-hunk {
		.line:hover {
			.line-comment {
				display: table-row;
			}
		}

		.line:hover {
			.btn-inline {
				display: inline-block;
			}
		}

		.comment-thread {
			border-top: 1px solid #eee;
		}

		.comment-container {
			&:first-child {
				border-top: 1px solid #eee;
			}

			border-bottom: 1px solid #eee;
		}

		.inline-comment {
			&.draft-form {
				border: 1px solid #eee;
				border-width: 1px 0;
			}

			.label-draft {
				background: #ededed;
				padding: 3px 5px;
				line-height: 10px;
				color: #888;
				text-transform: uppercase;
				font-size: 11px;
				margin-left: 5px;
				display: inline-block;
			}

			.draft-help {
				color: #666;
				cursor: pointer;
			}

			.comment-body {
				padding: 5px 0 0 0;

				.markdown-view {
					padding: 10px 0;
				}
			}

			.comment-edit-wrapper {
				display: block;
				margin: 10px 0 10px 0;
			}

			.comment-actions {
				padding: 15px 0 5px 0;
				display: inline-block;
				position: absolute;
				top: 0px;
				right: 10px;

				a {
					margin-right: 10px;
					cursor: pointer;
				}
			}

			textarea, .markdown-textarea .markdown-view {
				width: 450px;
				height: 80px;
				padding: 5px;
				border: 1px solid #dedede;
				margin-bottom: 5px;
			}

			textarea:focus {
				position: relative;
			}

			.markdown-textarea .markdown-view {
				height: auto;
			}
		}

		.comment-add-note {
			padding: 10px 0 10px 5px;
			border-top: 1px solid #eee;
			background-color: $panel-default-heading-bg;
			color: $panel-default-text;
			font-family: $font-family-sans-serif;

			a {
				font-size: 12px;
				cursor: pointer;

				&:hover {
					text-decoration: none;
				}
			}
		}

		.line-number {
			position: relative;
			overflow: visible;

			.btn-inline {
				display: none;
			}
		}
	}
}

.changeset-empty-list {
	text-align: center;
	padding: 100px 0;
	font-size: 20px;
}

.changeset-list {
	position: relative;

	.btn.compare-review {
		float: right;

		span.octicon {
			margin-right: 3px;
		}
		font-size: 14px;
	}

	.changeset-tabs.nav {
		li {
			a {
				span {
					margin-right: 7px;
				}
			}
		}
	}

	.changeset-list-tab-content {
		padding: 5px 0 0 0;

		table {
			width: 100%;

			tr {
				&:last-child {
					td {
						border-bottom: none;
					}
				}

				td {
					vertical-align: top;
					text-align: left;
					padding: 10px 0;
					border-bottom: $content-border;

					&.table-cell-id {
						width: 35px;
					}

					&.table-cell-title {
						a {
							color: $text-color;
						}
					}

					&.table-cell-time {
						vertical-align: middle;
						width: 150px;
					}

					.changeset-id, .changeset-id a {
						&:hover { text-decoration: none; }
						font-size: 18px;
						line-height: 24px;
						padding: 5px;
					}

					.changeset-title {
						font-size: 18px;
						line-height: 24px;
						padding: 5px 0 0 5px;
					}

					.changeset-spec {
						display: inline-block;
						padding: 0 0 0 5px;
					}

					.changeset-author {
						display: inline-block;
						a {
							color: $link-color;
						}
					}

					.changeset-time {
						font-style: italic;
						color: #888;
						display: inline-block;
						padding: 5px 0 0 0;
					}
				}
			}
		}
	}
}

.changeset-not-found {
	#close-changeset {
		cursor: pointer;
	}

	h1 {
		margin: 20px 0 0 0 !important;

		span.changeset-id {
			display: inline-block;
			margin-right: 5px;
		}
	}

	p.description {
		margin: 10px 0 0 0;
	}

	p.subtitle {
		margin: 3px 0 0 0;
	}
}

.markdown-view {
	white-space: normal;
	min-height: 20px;
	padding: 10px;

	pre {
		overflow: auto;
		word-wrap: normal;
		white-space: pre;
	}

	img {
		max-width: 100%;
	}
}

.btn.btn-default.close-changeset-button {
	margin: 10px 0 0 0;
}

.markdown-textarea {
	white-space: normal;

	.tab-content {
		.tab-edit, .tab-preview { display: none; }
		&.show-edit .tab-edit { display: block; }
		&.show-preview .tab-preview { display: block; }
	}

	.markdown-view {
		border: 1px solid #eee;
		padding: 5px;
	}

	textarea {
		border: 1px solid #eee;
	}

	.nav-tabs {
		border-bottom: none;

		a {
			cursor: pointer;
		}
	}
}

.markdown-textarea .tab-content.has-drag-item {
	textarea {
		background-color: #FFEBEB;
	}
}
