.app-docs {
	.menu {
		h1 {
			font-size: $font-size-large;
		}
		h2 {
			font-size: $font-size-base;
		}
		a.list-group-item {
			font-size: $font-size-small;
		}
	}


	.sidebar {
		margin-top: 10px;
		h1 {
			font-size: $font-size-base*1.1;
			font-weight: bold;
		}
	}

	.sidenav {
		margin-top: 10px;
		margin-bottom: 20px;
	}

	.sidebar > .nav {
		a {
			background: none;
		}

		& > li > a {
			display: block;
			padding: 2px 7px;
			font-size: 13px;
			font-weight: 500;
			border-left: 2px solid transparent;
		}
		& > .active > a {
			font-weight: bold;
		}
		& > .active > a, & > li > a:hover {
			color: $sg-blue-color;
			background-color: transparent;
			border-left: 2px solid $sg-blue-color;
		}

		// 2nd-level nav
		.nav {
			padding-bottom: 10px;
			& > li > a {
				padding-top: 1px;
				padding-bottom: 1px;
				padding-left: 20px;
				font-size: 12px;
				border-left: 1px solid transparent;
			}
			& > li > a:hover,
			& > li > a:focus {
				color: $sg-blue-color;
				border-left: 1px solid $sg-blue-color;
			}
			& > .active {
				& > a, & > a:hover, & > a:focus {
					color: $sg-blue-color;
					border-left: 2px solid $sg-blue-color;
				}
			}
		}
	}

	.body {
		margin-top: 8px;
		& > section > h1 {
			font-weight: bold;
		}

		code {
			color: #b93d6a;
			border-radius: 3px;
			border: solid 1px #f0f5f5;
			background: #fafcfc;
			padding: 0 4px;
			display: inline-block;
		}
		pre code {
			background: none;
			border: none;
			padding: 0;
		}

		h1#title {
			font-size: 36px;
		}
		h1 {
			font-size: 27px;
		}
		h2 {
			font-size: 22px;
		}
		h3 {
			font-size: 18px;
		}
		h4 {
			font-size: 14px;
		}
		p {
			line-height: 1.6;
		}

		.text-center {
			text-align: center;
		}

		.os-selector {
			margin-left: 5px;
		}

		.lang-checkbox {
			margin-left: 10px;
		}

		#local-install-lang-selector {
			padding-top: 10px;
		}
	}

	.toc {
		float: right;
		margin-left: 20px;
		margin-bottom: 20px;
		min-width: 200px;
		width: 30%;
		max-width: 400px;
		ul {
			margin-bottom: 0;
			padding-left: 0;
			li {
				padding-left: 20px;
				list-style-type: none;
			}
		}
		& > nav > ul > li {
			padding-left: 0;
		}
	}
}
