.blog-posts-index {
	margin-top: 25px;
}

.blog-posts {
	.thumb {
		$thumb-height: 50px;
		width: $thumb-height;
		height: $thumb-height;

		overflow: hidden;
		border: 1px solid $gray-lighter;
		border-radius: 5px;

		text-align: center;
		.icon {
			font-size: $thumb-height * 0.7;
			color: black;
			text-decoration: none;
		}
		a {
			display: block;
			width: 100%;
			height: 100%;
			text-decoration: none;
		}
		img { max-height: 100%; }
	}


}

.blog-post {
	figure {
		margin-top: 1em;
		margin-bottom: 1em;
		figcaption {
			font-style: italic;
		}
	}

	.byline {
		margin: 7px 0 14px 0;
	}

	.body {
		margin-top: 1em;
		@include clear-sections();
		img { @include image-figure(); }
	}

	.signup {
		text-align: center;
	}

	.share {
		ul {
			display: inline-block;
			margin-bottom: -5px;
		}
	}

	blockquote { font-size: 0.87em; }


	.other-posts {
		h4 {
			margin-bottom: 1em;
		}
	}

	h2, h3, h4 {
		margin-top: 20px;
		font-weight: bold;
	}

	.right-side-info {
		float: right;
		margin: 0 0 40px 40px;
		clear: both;
	}

	img.mw300 {
		max-width: 300px;
	}
	img.mw600 {
		max-width: 600px;
	}
	img.mw600 {
		max-height: 600px;
	}


	.caption {
		padding:5px;
		color:#333;
		display:inline-block;
	}
}

hr.condensed {
	margin: 0.3em 0;
}
