.builds .build {
	&:hover {
		opacity: 0.85;
		cursor: pointer;
	}
	.repo-link {
		font-weight: bold;
	}
	.commit-message {
		color: $text-muted;
	}
	.branch, .tag {
		font-weight: bold;
	}
	.commit-id {
		font-size: $font-size-small*0.9;
		opacity: 0.3;
	}
	&:hover .commit-id {
		opacity: 1;
	}
}

.build-indicator {
	&.text-danger {
		font-size: 13px;
		padding: 0 7px;
		color: $brand-danger !important;
	}
	i {
		margin-right: 1px !important;
	}
	&.not-available {
		color: $gray-light;
	}
	&.text-success {
		margin-top: -2px;
		color: $brand-success;
	}
}

.build-actions {
	margin-top: 18px;
}
