pre.code {
	border: 0;
	border-radius: 0;
	white-space: nowrap;
	background-color: transparent;
}

pre code {
	display: block;
	border: none;
	border-radius: 0;
}

pre code {
	overflow: auto;
	white-space: pre;
}

.code-box {
	background: #ffffff;
	border: 1px solid #979797;
}

.line-numbered-code td {
	overflow: visible;
	white-space: pre-wrap;
}

/* this class can be used to insert Markdown (backtick-style) entries in
the middle of prose */
.backtick {
	font-family: $font-family-monospace;
	border: 1px solid #eaeaea;
	padding: 2px 3px;
}

pre code, .line-numbered-code td {
	tab-size: 4;

	line-height: $code-line-height;
	font-size: $code-font-size;
	font-family: $font-family-monospace;
	padding-top: 0;
	padding-bottom: 0;

	a.ref, a.ann-link, a.defn-popover {
		padding: 0 1.7px;
		margin: 0 -1.7px;
		text-decoration: none;
		border-radius: 2px;
	}

	span.match {
		background: $token-hover-color;
		-webkit-filter: brightness(0.9) contrast(1.55);
		color: $text-color !important;
	}

	a.def.highlight {
		font-weight: bold;
	}
}

.line-numbered-code {
	width: 100%;
	word-wrap: break-word;
	table-layout: fixed;
	border-collapse: separate;

	.line {
		&:first-child {
			> td {
				padding-top: 10px;
			}
		}

		&:hover {
			.btn-inline {
				display: inline-block;
			}
		}
	}

	.line-number {
		position: relative;
		width: 50px;
		text-align: right;
		vertical-align: top;
		overflow: hidden;
		overflow: visible;
		background-color: $line-number-bg;
		color: $line-number-text;
		// match code
		font-family: $font-family-monospace;
		font-size: $code-font-size;
		line-height: $code-line-height;
		border-right: $content-border;

		color: $code-line-fg;

		padding: $line-number-padding;

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		&:before { content: attr(data-line); }

		.btn-inline {
			width: 16px;
			height: 16px;
			position: absolute;
			right: -9px;
			top: 1px;
			border-radius: 3px;
			color: #fff;
			text-align: center;
			display: none;
			cursor: pointer;
			background-color: $sg-blue-color;
			box-shadow: 0 1px 4px rgba(0,0,0,0.15);

			&:hover {
				background-color: darken($sg-blue-color, 10%);
				opacity: 1;
			}

			span {
				font-size: 14px;
			}
		}
	}

	.line-content {
		padding-left: 14px;
	}

	.inline-content {
		@include base-font;
		padding: 10px;

		.inline-form {
			max-width: 640px;

			.markdown-textarea, & > input, & > textarea {
				margin-bottom: $line-height-computed / 2;
			}

			input, textarea {
				width: 100%;
				border: solid 1px #eee;
				padding: 6px;
				background-color: #fafafa;
				&:focus {
					background-color: $white;
				}
			}

			textarea {
				height: 80px;
			}

			textarea:focus {
				position: relative;
			}
		}
	}

	tr:hover .line-number {
		color: darken($line-number-text, 10%);
	}

	&.static-code-view {
		a.ref {
			&:hover {
				background: $token-hover-color;
				box-shadow: inset 0px 0px 0px 1px $token-hover-border;
				-webkit-filter: brightness(0.9) contrast(1.55);
			}
		}
	}

	&.fade-unselected-lines {
		.line:not(.main-byte-range) .line-content {
			span, a {
				opacity: 0.45;
			}
		}
	}
}

.line.main-byte-range {
	.line-content {
		background-color: $active-code-bg;
		-webkit-animation: highlight-flash 1s;
		-moz-animation: highlight-flash 1s;
		animation: highlight-flash 1s;
	}
}

@-webkit-keyframes highlight-flash {
	5% { background-color: $active-code-flash-bg; }
}
@-moz-keyframes highlight-flash {
	5% { background-color: $active-code-flash-bg; }
}
@keyframes highlight-flash {
	5% { background-color: $active-code-flash-bg; }
}
