.sourcegraph-popover {
	@include z-index(token-popover);
	background-color: rgba(255, 255, 255, 0.93);
	max-width: 360px;
	width: 360px;

	border: solid 1px lighten($popover-border-color, 5%);
	border-radius: $border-radius-base;
	padding: $padding-base-vertical $padding-base-horizontal;
	font-size: $font-size-base !important;

	.title {
		word-wrap: break-word;
		.name {
			font-weight: bold;
		}
	}

	p {
		margin-top: 7px;
	}

	.repo {
		color: #888;
	}

	.ann .title {
		font-size: 1.5em;
		font-weight: bold;
	}

	opacity: 0;
	&.visible {
		opacity: 1;
		-webkit-transition: opacity 0.1s ease-in-out;
		-transition: opacity 0.1s ease-in-out;
	}
	-webkit-transition: opacity 0.1s ease-in-out;
	transition: opacity 0.1s ease-in-out;
}
