section.delta-impact {
	margin-bottom: 45px;

	& > header {
		padding: $padding-large-vertical*1.3 $padding-large-horizontal;
		h3 {
			font-size: $font-size-large*0.9;
			margin: 0;
		}
		.icon {
			margin-right: 0.25em;
		}
		.number { font-weight: bold; }
		&:hover {
			background-color: $table-bg-hover;
		}
	}


	& > ul {
		// indent so it's clear that the "Changes/removes definitions..." headers are top level.
		margin-left: 23px;

		& > li {
			border-width: 1px 0 0 0;
			border-color: #e8e8e8;
			&:hover {
				background-color: $table-bg-hover;
			}
		}

		img.avatar {
			@include square(48px);
			border-radius: $border-radius-small;
		}

		.media-body {
			padding-left: $padding-base-horizontal;
		}

		h3 {
			margin: 0;
			font-size: $font-size-base;
			.affected {
				font-weight: bold;
			}
		}

		tt, code {
			font-size: $font-size-small;
			a { color: $text-quieted; }
			.name {
				font-weight: bold;
				color: $text-color;
			}
		}

		ul.defs {
			margin-bottom: 0;
			margin-top: $padding-small-vertical;
			.list-group-item {
				border: none;
				background-color: transparent;
				padding: $padding-small-vertical/2 0;
				ol.refs {
					margin: 10px 0 30px 30px;
					header a:first-child, header .sep:first-of-type { display: none; }
					pre {
						border: solid 1px $table-border-color;
						border-radius: $border-radius-base;
						background-color: white;
						margin-top: 2px;
						code {
							font-size: $font-size-small;
						}
					}
				}
			}
		}
	}

	.btn.notify {
		span { color: $gray-dark; }
	}
	.btn.notify-all {
		// align right with other Notify buttons
		margin-top: -10px;
	}
}
