
.error-page {
	text-align: center;
	margin-top: 25px;
	h1 {
		margin: 30px 0 5px 0;

		.status-code {
			margin-right: -5px;
			font-size: 48px;
		}
	}

	.error-message {
		margin: 15px 0;
		border: 1px solid #ddd;
		background: #fafafa;
		padding: 15px;
		font-family: $font-family-monospace;
		text-align: left;
		overflow-x: scroll;
		white-space: pre;

		.actions {
			margin: 10px 0 0 -5px;
		}
	}

	.error-common {
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
	}
}
