$font-assets-path: "/.assets/font";

// ----------------------------------------------------------------------------
// Circular
// ----------------------------------------------------------------------------

/* Circular-Book */
@font-face {
	font-family: "Circular";
	font-style: normal;
	font-weight: 400;
	src: url($font-assets-path + "/circular/circular-book.ttf") format("truetype");
}

/* Circular-Book Italic */
@font-face {
	font-family: "Circular";
	font-style: italic;
	font-weight: 400;
	src: url($font-assets-path + "/circular/circular-book-italic.ttf") format("truetype");
}

/* Circular-Medium */
@font-face {
	font-family: "Circular";
	font-style: normal;
	font-weight: 500;
	src: url($font-assets-path + "/circular/circular-medium.ttf") format("truetype");
}

/* Circular-Medium Italic */
@font-face {
	font-family: "Circular";
	font-style: italic;
	font-weight: 500;
	src: url($font-assets-path + "/circular/circular-medium-italic.ttf") format("truetype");
}

/* Circular-Bold */
@font-face {
	font-family: "Circular";
	font-style: normal;
	font-weight: 700;
	src: url($font-assets-path + "/circular/circular-bold.ttf") format("truetype");
}

/* Circular-Bold Italic */
@font-face {
	font-family: "Circular";
	font-style: italic;
	font-weight: 700;
	src: url($font-assets-path + "/circular/circular-bold-italic.ttf") format("truetype");
}

/* Circular-Black */
@font-face {
	font-family: "Circular";
	font-style: normal;
	font-weight: 800;
	src: url($font-assets-path + "/circular/circular-black.ttf") format("truetype");
}

/* Circular-Black Italic */
@font-face {
	font-family: "Circular";
	font-style: italic;
	font-weight: 800;
	src: url($font-assets-path + "/circular/circular-black-italic.ttf") format("truetype");
}
