body {
	&.route-def, &.route-repo-tree {
		margin-bottom: 0;

		#footer {
			display: none;
		}
	}
}

#footer {
	color: $footer-text;

	.footer-inner {
		padding-bottom: 30px;

		.footer-container {
			margin-top: $line-height-computed;
			padding-top: $line-height-computed;
			border-top: $content-border;
		}
	}

	li.separator {
		margin-top: 7px;
	}

	.container-fluid {
		width: auto;
	}

	.info {
		text-align: right;

		.logo {
			font-weight: bold;
		}

		.powered-by {
			opacity: 0.8;
		}
	}
}
