#keyboard-shortcuts-help {
	top: 20%;
	th {
		text-align: right;
		padding-right: 8px;
	}
}

.shortcut-key {
	display: inline-block;
	border: solid 2px darken($gray-lighter, 8%);
	font-weight: bold;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	background-color: $gray-lightest;
	color: $gray;
	padding: 2px 5px;
	border-radius: 4px;
	margin: 4px 1px;
	font-family: $font-family-monospace;
}
