.liveblog-container {
	.blog-title {
		text-align: center;
	}
	.blog-body {
		border-top: 1px solid $gray-lighter;
	}

	.index-container {
		border-left: 1px $gray-lighter solid;
		padding-top: 1em;

		.index-item {
			margin-bottom: 0.5em;
		}
	}

	.post {
		padding: 1em 0.5em 2em 0.5em;
		border-top: 1px solid $gray-lighter;
		&:first-child {
			border-top: none;
		}

		.title {

		}
		.byline {
			font-size: 1.1em;
			font-style: italic;
			color: $gray-light;
		}
		.post-body {
			font-size: 1.1em;
			p {
				margin-bottom: 1em;
			}
			img {
				border-radius: 4px;
				margin-top: 1em;
				margin-bottom: 1em;
			}
			.caption {
				padding-top: 0.5em;
				padding-bottom: 0.5em;
			}

			.sourcegraph-sourcebox {
				pre {
					font-size: 0.8em !important;
				}
			}
		}
	}

	.tumblr-pagination {
		margin-top: 1em;
	}
	.tumblr-pagination-center {
		text-align: center;
	}
}
