@mixin image-figure() {
	border: 1px solid $gray-lighter;
	border-radius: $border-radius-base;
	margin-top: $padding-small-vertical;
	margin-bottom: $padding-small-vertical;
}

// generic transform
@mixin transform($transforms...) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

@mixin transition($transitions...) {
	-moz-transition: $transitions;
	-o-transition: $transitions;
	-ms-transition: $transitions;
	-webkit-transition: $transitions;
	transition: $transitions;
}

// rotate
@mixin rotate ($deg) {
	@include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
	@include transform(scale($scale));
}
// translate
@mixin translate ($x, $y) {
	@include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
	@include transform(skew(#{$x}deg, #{$y}deg));
}

//transform origin
@mixin transform-origin ($origin) {
	moz-transform-origin: $origin;
	-o-transform-origin: $origin;
	-ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
	transform-origin: $origin;
}

@mixin clear-sections() {
	img, h1, h2, h3, h4, h5 {
		clear: both;
	}
}

@mixin calc($property, $expression) {
	#{$property}: -webkit-calc(#{$expression});
	#{$property}: calc(#{$expression});
}

@mixin non-editable-looking-form() {
// This isn't editable, so make the inputs not look like inputs at all.
	input {
		border: none;
		outline: none;
		padding: 0;
		margin: 0;
		height: auto;
		&, &:disabled { background: none; }
		@include box-shadow(none);
	}
	label {
		margin-bottom: 0;
	}
}

// Allows application of bootstrap dropdown list styles to nested lists
// contained in a dropdown menu.
@mixin dropdown-list() {
	list-style: none;
	padding: 0;
	> li > a {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		line-height: $line-height-base;
		color: $dropdown-link-color;
		white-space: nowrap; // prevent links from randomly breaking onto new lines
	}
}

@function z-index($key) {
	@return map-get($z-index, $key);
}

@mixin z-index($key) {
	z-index: map-get($z-index, $key);
}

@mixin base-font() {
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

@mixin disable-user-select() {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
