.onboarding-container {
	.modal {
		display: block;
		box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
		text-align: center;
	}

	.modal-header {
		height: 77px;
	}
	.modal-header-0 {
		background-color: rgba(15, 181, 242, 0.09);
	}
	.modal-header-1 {
		background-color: rgba(15, 181, 242, 0.09);
	}
	.modal-header-2 {
		background-color: rgba(96, 101, 245, 0.09);
	}
	.modal-header-3 {
		background-color: rgba(14, 195, 211, 0.09);
	}

	.avatar-container {
		margin-top: 55px;
	}

	.header-text {
		font-size: 24px;
		font-face: Circular-Book;
		color: #4d5a64;
	}
	.normal-text {
		padding-left: 75px;
		padding-right: 75px;
		font-size: 16px;
		font-face: Circular-Book;
		margin-bottom: 17px;
		color: #7794ae;;
	}
	.next-step {
		margin-top: 15px;

		a {
			font-size: 13px;
			font-face: Circular-Bold;
			color: #7794ae;
			text-transform: uppercase;
			margin-top: 14px;
			text-decoration: none;
			cursor: pointer;
		}
	}

	.welcome-header {
		margin-top: 16.8px;
		margin-bottom: 22px;
	}
	.normal-header {
		margin-top: 14px;
		margin-bottom: 17px;
	}

	.onboarding-progress-bar {
		.dot-container {
			display: -webkit-flex;
			display: flex;
			margin-top:19px;
			margin-left: auto;
			margin-right: auto;

			.dot-wrapper {
				-webkit-flex: 1;
				flex: 1;
			}
			.dot {
				width: 18px;
				height: 18px;
				border-radius: 25px;
				background-color: white;
				display: inline-block;
			}
			.smaller-dot {
				width: 8px;
				height: 8px;
				margin-top: 3px;
				margin-left: auto;
				margin-right: auto;
				border-radius: 5px;
			}
			.smallest-dot {
				width: 6px;
				height: 6px;
				margin-top: 4px;
				margin-left: auto;
				margin-right: auto;
				border-radius: 5px;
			}
			.dot-0 {
				border: solid 2px #0ec3d3;
				background-color: #0ec3d3;
			}
			.dot-1 {
				border: solid 2px #0fb6f2;
				background-color: #0fb6f2;
			}
			.dot-2 {
				border: solid 2px #6065f5;
				background-color: #6065f5;
			}
			.dot-3 {
				border: solid 2px #6065f5;
				background-color: #b114f7;
			}
			.dot-3-inner {
				border: solid 2px #b114f7 !important;
				background-color: #b114f7;
			}
			.dot-incomplete {
				background-color: white !important;
			}
		}
		.dot-carat {
			width: 0;
			height: 0;
			opacity: 0.4;
			margin: 2px auto;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;

			border-bottom: 5px solid #6065f5;
		}

		.bar {
			border-style: solid;
			border-image-slice: 1;
			border-width: 1px;
			margin-top: -24px;
			margin-left: auto;
			margin-right: auto;
			height: 2px;
			width: 75%;
			// border: solid 2px #0ec3d3;
		}
		.bar-0 {
			border-image-source: -webkit-linear-gradient(right, #0fb6f2 0%, #0ec3d3 100%);
			border-image-source: -o-linear-gradient(right, #0fb6f2 0%, #0ec3d3 100%);
			border-image-source: linear-gradient(to left, #0fb6f2 0%, #0ec3d3 100%);
		}

		.bar-1 {
			border-image-source: -webkit-linear-gradient(right, #0fb6f2 0%, #0ec3d3 100%);
			border-image-source: -o-linear-gradient(right, #0fb6f2 0%, #0ec3d3 100%);
			border-image-source: linear-gradient(to left, #0fb6f2 0%, #0ec3d3 100%);
		}

		.bar-2 {
			border-image-source: -webkit-linear-gradient(left, #0ec3d3 0%, #0fb6f2 22%, #0fb6f2 51%, #0fb6f2 78%, #6065f5 100%);
			border-image-source: -o-linear-gradient(left, #0ec3d3 0%, #0fb6f2 22%, #0fb6f2 51%, #0fb6f2 78%, #6065f5 100%);
			border-image-source: linear-gradient(to right, #0ec3d3 0%, #0fb6f2 22%, #0fb6f2 51%, #0fb6f2 78%, #6065f5 100%);
		}

		.bar-3 {
			border-image-source: -webkit-linear-gradient(left, #0ec3d3 0%, #0fb6f2 22%, #0fb6f2 51%, #0fb6f2 78%, #6065f5 100%);
			border-image-source: -o-linear-gradient(left, #0ec3d3 0%, #0fb6f2 22%, #0fb6f2 51%, #0fb6f2 78%, #6065f5 100%);
			border-image-source: linear-gradient(to right, #0ec3d3 0%, #0fb6f2 22%, #0fb6f2 51%, #0fb6f2 78%, #6065f5 100%);
		}
	}

	.avatar-container {
		position: relative;
		width: 115.5px;
		height: 115.5px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.avatar-github {
		opacity: 0.5;
		background-color: #0fb6f2;
	}

	.github-link-success-icon {
		width: 40px;
		height: 40px;
		background-color: #78e198;
		border: solid 4px #ffffff;
		// float: right;
		position: absolute;
		bottom: 0px;
		right: -8px;
		border-radius: 50%;
		// display: inline-block;

		.check-icon {
			color: #37a358;
			font-size: 16px;
			position: absolute;
			bottom: 5px;
			left: 9px;
		}
	}
}
