// ----------------------------------------------------------------------------
// Bootstrap
// ----------------------------------------------------------------------------

b, strong {
	color: $text-strong-color;
}

.form-control {
	box-shadow: none;
}

.btn {
	&.btn-primary,
	&.btn-secondary,
	&.btn-success,
	&.btn-info,
	&.btn-danger,
	&.btn-warning, {
		border: transparent 1px;
	}

	&.btn-default {
		&:hover {
			background-color: $btn-default-hover-bg;
			border-color: $btn-default-hover-color;
			color: $btn-default-hover-color;
		}
	}
}

.btn.btn-secondary {
	@include button-variant($white, $brand-secondary, darken($brand-secondary, 10%));
}

.open > .btn-default.dropdown-toggle {
	box-shadow: none;
	background-color: $btn-default-hover-bg;
	border-color: $btn-default-hover-color;
	color: $btn-default-hover-color;
	&:hover,
	&:focus {
		background-color: $btn-default-hover-bg;
		border-color: $btn-default-hover-color;
		color: $btn-default-hover-color;
	}
}

.btn-default.dropdown-toggle {
	&:focus {
		background-color: $btn-default-bg;
		border-color: $btn-default-color;
		color: $btn-default-dark;
	}
}

hr {
	margin-top: $font-size-base;
	margin-bottom: $font-size-base;
}
