header.repo-build {
	h1 {
		display: block;
		padding: $padding-large-vertical $padding-large-horizontal;
		font-size: $font-size-base;
		font-weight: normal;
		.number {
			font-size: $font-size-large*1.3;
			font-weight: bold;
			padding-bottom: 5px;
			text-align: center;
		}
		.date {
			font-size: $font-size-small;
		}
		.elapsed {
			margin-top: 7px;
		}
	}
}

.build-log {
	padding: $padding-large-vertical $padding-base-horizontal;
	font-size: $font-size-small;
	font-family: $font-family-monospace;
	color: #efefef;
	background-color: $gray-darker;
	white-space: pre-wrap;
	overflow-x: auto;
	max-width: 100%;

	border-radius: 0;
	margin-bottom: 0;
	&:before, &:after { content: ""; }
}

.build-container {
	.panel {
		border-width: 1px 0;
		box-shadow: none;
	}

	.panel-heading a {
		text-decoration: none;
		display: block;
		&:hover {
			opacity: 0.8;
		}
	}

	.commit {
		margin-top: 0;
		padding-top: 0;
	}

	.top-level-tasks.panel-group {
		margin-bottom: 0;

		& > .panel {
			margin-bottom: 3*$padding-large-vertical;
		}
	}

	.top-level-task {
		& > .panel-heading {
			padding: $padding-large-vertical $padding-small-horizontal;

			border-bottom: solid 1px;
			h4 {
				font-size: $font-size-large*1.2;
			}
		}
	}

	.steps.panel-group {
		margin-bottom: 0;

		.panel {
			margin-top: 0;
		}
	}

	.panel-body {
		padding: 0 0 0 0;// $padding-large-horizontal;
	}

	.step {
		&, .panel-heading {
			border-radius: 0;
			h5 {
				font-size: $font-size-base;
			}
		}
		.panel-heading {
			// Make clickable link area bigger.
			padding: 0;
			a {
				padding: $padding-large-vertical $padding-small-horizontal;
				.elapsed { font-weight: normal; }
			}
		}
	}

	.build-nav {
		ol ol {
			margin-bottom: $padding-large-vertical*1.5;
			margin-left: $padding-small-horizontal;
		}
		a { text-decoration: none; }
	}
}
