$panel-repo-tree-padding-horizontal: 9px;

.tree-entry-search {
	display: block;

	.overlay {
		@include z-index(modal-backdrop);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: transparentize(#000, 0.5);
	}

	.search-input-group {
		@include z-index(tree-search-modal);
		@include box-shadow(0 2px 8px transparentize(#000, 0.6));
		position: fixed;
		width: 700px;
		top: 20%;
		left: 50%;
		margin-left: -350px;

		.tree-search-input {
			position: relative;

			input {
				font-size: 18px;
				width: 100%;
				padding: $table-cell-padding 12px;
				border: 1px solid $white;
				border-bottom: $content-border;
				background-color: $white;
				&:focus {
					outline: none;
				}
			}

			.spinner {
				position: absolute;
				top: 12px;
				right: 17px;
				font-size: 18px;
			}
		}

		ul.tree-search-file-list {
			list-style: none;
			list-style-type: none;
			padding: 0;
			margin: 0;
			border-width: 0 1px 1px 1px;
			background-color: $white;
			font-weight: normal;

			li {
				padding: $table-cell-padding 12px;
				border-bottom: $content-border;

				&.selected {
					background-color: darken($white, 5)
				}
			}
		}
	}

	&.hidden {
		display: none;
	}

	.spinner {
		display: none;
	}

	&.loading .spinner {
		display: block;
	}
}

.panel-repo-tree {
	box-shadow: none;
	-webkit-box-shadow: none;

	header.rev-and-breadcrumb {
		@include clearfix;
		margin-top: 7px;
		margin-bottom: 14px;

		.btn.compare-review {
			padding-left: 10px;
			padding-right: 10px;
		}

		.tree-breadcrumb {
			margin-left: 9px;
			font-size: $font-size-large;
			vertical-align: -1px;
			a {
				&:last-of-type { font-weight: bold; }
			}
		}

		.branch-commit-tag {
			margin-top: $padding-base-vertical;
			@media (min-width: $screen-sm-min) {
				margin-top: 0;
				float: right;
			}

			li {
				padding: 0;
				a {
					padding: 5px 10px;
					color: $heading-text-color;
					font-weight: bold;
					&:hover {
						background-color: $heading-bg-color;
					}
				}
			}
		}
	}

	.vcs-ref {
		border: none;
		padding: 0;
	}

	// TreeTopCommit
	header.commit {
		padding-top: 8px;
		border: $content-border;
		border-bottom-color: #ddd;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		background-color: $heading-bg-color;
		color: $heading-text-color;

		.pull-right.repo-build {
			padding-top: 1px;
		}

		.build-indicator {
			margin-right: 10px;
		}

		.commit-title {
			font-size: 13px;
			font-weight: normal;
			margin: 2px 0 0 10px;
		}

		.last-commit {
			@include clearfix;
			font-size: 12px;
			margin: 8px 5px;

			img.avatar {
				@include square(19px);
				border-radius: 3px;
				margin: 0px 7px 0px 5px;
			}

			.commit-id {
				padding: 0 3px 0 0;
			}

			.committer a.user {
				color: #000;
				font-weight: bold;
			}
		}
	}
}

.repo-tree-dir {
	width:100%;
	border: $content-border;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	border-top: none;
	border-collapse: separate;
	padding: 10px 21px;
	table-layout:fixed;

	tr:first-child td {
		border-top: none;
	}

	td.icon {
		width: 32px;
		padding-right: 0;
		padding-left: 0;
		opacity: 0.9;
		i.fa-folder {
			width: 16px;
			color: $brand-primary;
		}
	}

	td.name {
		width: 190px;
		max-width: 190px;
		margin-left: 5px;
		padding: 0;
		a, span.disabled {
			display: block;
			overflow: hidden; text-overflow: ellipsis;
			padding: $table-cell-padding $table-cell-padding $table-cell-padding 3px;
		}

		white-space: nowrap;
		overflow: hidden;
	}

	td.commit {
		time {
			float: right;
			padding-left: 25px;
			min-width: 80px;
		}
		.message {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	span.dim {
		color: $text-color;
	}

	tbody > tr > td {
		border-top: 1px solid #eee;
	}

	margin-bottom: 30px;
}

.plain-file:not(.readme) .panel-body {
	background-color: $code-bg;
}

.readme {
	overflow: hidden;

	img {
		max-width: 100%;
	}

	.panel-heading.readme-file {
		font-weight: bold;
	}

	&.plain-file {
		pre > code, code {
			color: $gray-dark;
			background: none;
		}
	}
}
