@import "_repo.scss";

.subnav.repo-subnav {
	$active-indicator-width: 3px;

	background-color: $subnav-background-color;

	@include z-index(navbar);

	border-bottom: solid 1px $subnav-border-color;
	border-radius: 0;
	border-top-width: 0;

	margin-bottom: 0;

	.navbar-brand {
		font-size: 20px;
		padding: 13px;
	}

	a {
		color: $subnav-repo-link-color;
		font-weight: 500;
	}

	.navbar-header {
		padding-top: 3px;
		.github {
			color: $subnav-color;
		}
	}

	ul.navbar-nav {
		float: none;
		> li > a {
			color: $subnav-color;
		}
	}

	ul.repo-subnav > li {
		$active-color: $subnav-active-color;

		$icon-size: 18px;
		$icon-margin-left: 2px;
		$icon-margin-right: 4px;

		box-shadow: none;
		border-radius: 0;

		padding: 0;
		margin: 0 0 -1px 0;

		font-size: $font-size-base;

		> a {
			display: block;
			padding-top: 18px;
			border-bottom: solid $active-indicator-width transparent;
			&:hover {
				background: none;
				text-decoration: underline;
				i { color: $dark-blue-grey; }
			}
		}

		i, span.caret {
				color: $subnav-color;
		}

		i {
			font-size: $icon-size;
			margin-left: $icon-margin-left;
			margin-right: $icon-margin-right;
			width: 18px;
			&.octicon-book {
				vertical-align: -1px;
			}
		}

		.count {
			font-weight: bold;
		}

		&.action-button {
			padding: 12px 4px 0 0;
		}

	a:focus { background: none; }

		&.active, &:hover {
			& > a:hover { text-decoration: none !important; }
			& > a, & > a > i { color: $subnav-active-color; }
		}

		@media(min-width: $screen-sm-min) and (max-width: $screen-md-min) {
			&:not(.active) > a > .txt {
				display: none;
			}
		}

		&.active > a {
			background-color: inherit;
			border-bottom-color: $subnav-active-color !important;
			font-weight: bold;
			&, i { color: $subnav-active-color; }
			@media (max-width: $grid-float-breakpoint) {
				border-bottom: 0;
				background-color: #efefef;
			}
		}
		&:hover {

			> a {
				border-bottom-color: $subnav-active-color;
				@media (max-width: $grid-float-breakpoint) {
					border-bottom: 0;
					background-color: #efefef;
				}
			}
		}

	&.open > a { background-color: transparent; }

	&.dropdown {
		cursor: default;

		& > .dropdown-menu {
			i { display: none; }
		}
	}
	}
}
