.navbar-header {
	$repo-text-color: #636363;
	.navbar-brand.repo {
		font-size: 1.4em;
		margin-right: 10px;
		.repo-attr-icon {
			font-size: 1.1em;
			color: $repo-text-color;
			margin-left: 1px;
			margin-right: 5px;
			vertical-align: middle;
			display: inline-block;
		}
	.repo-link {
		color: $repo-text-color;
	}
		.name {
			font-weight: bold;
		}
	}
}

.repo-rev-switcher {
	.button {
		color: $btn-default-dark;
		font-weight: bold;
		&:not(&:hover) {
			.caret {
				color: $btn-default-color;
			}
		}
	}

	.search-section {
		padding: 0 5px;
		input {
				width: 100%;
				margin-bottom: -4px;
		}
	}
	.list-section {
		@include dropdown-list;
		max-height: 360px;
		overflow-y: scroll;
		a {
			cursor: pointer;
		}

		li.disabled {
			a {
				color: #ccc;
				pointer-events: none;
			}
		}
	}
}

.current-rev > a {
	font-weight: bold !important;
	& > i.fa {
		padding-right: 3px;
		margin-left: -10px;
	}
}

.route-repo .subnav.repo .repo-link .name {
	font-weight: bold;
}

.fork, .mirror {
	color: $gray-light;
}

// columns

div.repo-body {
	margin-top: 18px;

	&.repo-body-full-width {
		margin-top: 0;
		max-width: none;
	}

	h1 {
		margin-top: 0;
	}

	& > .well {
		margin-top: 30px;
	}

	.repo-meta {
		.description {
			font-size: $font-size-base;
			color: $heading-text-color;
			padding-top: $padding-small-vertical;
		}
	}

	.clone-url-container {
		.clone-url-wrap {
			max-width: 15em;

			.clone-type {
				opacity: 1;
			}

			#clone-url-value {
				padding-left: 6px;
				padding-left: 6px;
				background-color: white;
				overflow: hidden;
				max-width: 15em;
				text-overflow: ellipsis;
				white-space: nowrap;
				color: $text-color;
			}
		}

		.clone-copy {
			color: $heading-text-color;
			background-color: $heading-bg-color;
			border: $content-border;
		}
	}
}

.alert-container {
	padding: 0;
	margin-bottom: 14px;
	.alert-body {
		padding: ($alert-padding - 2px) $alert-padding;
		.btn {
			margin-right: 4px;
			font-weight: bold;
		}
		label {
			font-weight: normal;
		}
	}
	.alert-footer {
		background-color: $panel-footer-bg;
		border: solid 1px $table-border-color;
		border-top-width: 0;
		padding: $padding-small-vertical $alert-padding;
		color: $gray;
		font-size: $font-size-small;
	}
}
