.repo-defs {
	.input-group-addon {
		label {
			margin: 0;
			font-weight: normal;
		}
	}

	table.table {
		margin: 0;
	}

	.panel-footer {
		text-align: center;
		font-size: 0.8em;
		padding: 0.3em;
	}
}
