// Search
.search-bar {
	form {
		@include box-shadow(none);
		@include z-index(nav-search-input);
	}
	.search-input{
		&:focus {
			@include box-shadow(none);
		}
	}
	// CSS hack to make the form input fill the width of the
	// middle of the nav bar.
	.form-group {
		display: inline;
		.input-group {
			display: table;
			.search-input {
				border-radius: $border-radius-base;
			}
			.input-group-addon {
				width: 1%;
				padding-right: 15px;
				visibility: hidden;
			}
		}
	}
}

.search-results {
	.summary {
		font-style: italic;
	}

	.nav {
		padding-top: $line-height-computed;
		padding-bottom: $line-height-computed;
		margin-bottom: 12px;
		border-bottom: 1px solid #d7ebfb;

		a {
			cursor: pointer;
		}
		li {
			@include disable-user-select;
			.badge {
				font-size: $font-size-base;
				background-color: $dark-blue-grey;
			}
		}
		li.active {
			.badge {
				color: $white;
			}
		}
	}
}

.token-search-result {
	a {
		font-size: 16px;
		color: $text-color;
		code {
			padding: 0;
		}
		.name {
			color: $link-color;
			font-weight: bold;
		}
	}
	p {
		color: $text-color;
		padding-top: 4px;
	}
	&:nth-of-type(1) {
		hr {
			display: none;
		}
		margin-top: $line-height-computed * 2;
	}
}

.text-search-result {
	header {
		margin-top: 24px;
		padding: $padding-large-vertical $padding-small-horizontal;
		background-color: $panel-default-heading-bg;
		border: $content-border;
		border-bottom: none;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

	.line-numbered-code {
		border: $content-border;
		border-top: none;
		$result-section-padding: 6px;

		tr {
			&:first-child {
				td {
					padding-top: $result-section-padding;
				}
			}
			&:last-child {
				td {
					padding-bottom: $result-section-padding;
				}
			}
		}

		.line-number {
			cursor: pointer;
		}

		.file-range-link {
			width: 70px;
			text-align: right;
			padding-right: $padding-small-horizontal;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	}
}

.search-pagination {
	text-align: center;
}
