/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */

.theme-sunburst {
	color: $gray-lighter;
	.str { color: #65B042; } /* string  - green */
	.kwd { color: #E28964; } /* keyword - dark pink */
	.com { color: #AEAEAE; font-style: italic; } /* comment - gray */
	.typ { color: #89bdff; } /* type - light blue */
	.lit { color: #3387CC; } /* literal - blue */
	.pun { color: #fff; } /* punctuation - white */
	.pln { color: #fff; } /* plaintext - white */
	.tag { color: #89bdff; } /* html/xml tag    - light blue */
	.atn { color: #bdb76b; } /* html/xml attribute name  - khaki */
	.atv { color: #65B042; } /* html/xml attribute value - green */
	.dec { color: #70ABDB; } /* decimal - blue */

	@media print {
		.str { color: #060; }
		.kwd { color: #006; font-weight: bold; }
		.com { color: #600; font-style: italic; }
		.typ { color: #404; font-weight: bold; }
		.lit { color: #044; }
		.pun { color: #440; }
		.pln { color: #000; }
		.tag { color: #006; font-weight: bold; }
		.atn { color: #404; }
		.atv { color: #060; }
	}
}
