.theme-default, .rendered-markdown code {
	color: $jet-black;
	.pln {
		color: $jet-black;
	}
	.str {
		color: $code-orange;
	}
	.kwd {
		color: $code-blue;
	}
	.com {
		color: $code-grey;
	}
	.typ {
		color: $code-violet;
	}
	.lit {
		color: $code-turquoise;
	}
	.pun, .opn, .clo {
		color: $dark-blue-grey;
	}
	.tag {
		color: $code-blue;
	}
	.atn {
		color: $jet-black;
	}
	.atv {
		color: $code-turquoise;
	}
	.dec, .var {
		color: $code-turquoise;
	}
	.fun {
		color: $code-pink;
	}

	.highlight-primary {
		background: $token-focus-color;
		box-shadow: inset 0px 0px 0px 1px $token-focus-border;
	}
	.highlight-secondary {
		background: $token-hover-color;
		box-shadow: inset 0px 0px 0px 1px $token-hover-border;
	}
}

pre.theme-default code {
	background-color: $white;
}
