@import "_mixins";

// ----------------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------------

/* Deprecated */
$row-highlight-color: #DCE7F3;
$sg-blue-color: rgba(78, 155, 212, 1); // less-saturated version of actual sg-blue (#459def)
$panel-head-color: #f5f5f5;
$gray-lightest: lighten(#000, 96%);
$light-blue: #bfc2d0;
$code-line-fg: rgba(0,0,0,0.3);
$inactive-code-color: darken($gray-lightest, 2%);
$diff-added-color: #54a63e;
$diff-changed-color: lighten(#c98d00, 4%);
$diff-deleted-color: lighten(#c71111, 3%);
$text-quieted: #7794ae;

/* Palette */

// Accents
$brand-orange: #f86012;
$light-gold: #fdd74e;
$green-apple: #62ce21;
$turquoise: #0dceb7;
$turquoise-blue: #0ec3d3;
$brand-azure: #0fb6f2;
$cornflower: #6065f5;
$brand-violet: #bd37f9;
$dark-pink: #d03592;

// Code
$code-pink: #ef3e82;
$code-violet: #b114f7;
$code-blue: #0d9acd;
$code-turquoise: #0dceb7;
$code-grey: #9b9b9b;
$code-orange: #f64800;
$lemon: #ffe37e;

// Content
$blue-grey: #5c768d;
$dark-blue-grey: #344a66;
$shadow-blue: #7794ae;
$warm-grey: #787878;

// UI
$cloudy-blue: #bfc2d0;
$duck-egg-blue: #f6fafd;
$jet-black: #2e3844;
$pale-grey: #fafafc;
$silver: #979daf;
$slate-grey: #aaafbf;
$white: #ffffff;


/* Components */
$content-border-color: transparentize($cloudy-blue, 0.56);
$text-strong-color: $blue-grey;

$nav-background-color: $pale-grey;
$nav-border-color: darken($nav-background-color, 5%);
$nav-text-color: #979daf;
$nav-brand-color: $jet-black;
$nav-icon-badge-color: $brand-orange;

$subnav-background-color: $white;
$subnav-color: $slate-grey;
$subnav-active-color: $brand-azure;
$subnav-repo-link-color: $jet-black;
$subnav-border-color: darken($nav-background-color, 5%);

$footer-bg: $pale-grey;
$footer-text: $silver;

$btn-default-hover-color: $brand-azure;
$btn-default-hover-bg: $white;
$btn-default-dark: $jet-black;

$code-block-bg: $duck-egg-blue;

$file-toolbar-bg: $white;
$file-toolbar-path-color: $warm-grey;

$line-number-bg: $pale-grey;
$line-number-text: $cloudy-blue;
$active-code-bg: transparentize($brand-azure, 0.90);
$active-code-flash-bg: transparentize($brand-azure, 0.85);
$token-focus-color: $lemon;
$token-focus-border: darken($token-focus-color, 8%);
$token-hover-color: transparentize($lemon, 0.56);
$token-hover-border: darken($token-hover-color, 5%);

/* Bootstrap Overrides */
$brand-primary: $brand-azure;
$brand-secondary: $brand-violet;
$brand-success: $green-apple;
$brand-info: $turquoise;
$brand-warning: $light-gold;
$brand-danger: $brand-orange;

$text-color: $shadow-blue;
$link-color: $brand-azure;
$headings-color: $dark-blue-grey;

$heading-text-color: $blue-grey;
$heading-bg-color: $duck-egg-blue;
$heading-border: $content-border-color;

$panel-default-heading-bg: $duck-egg-blue;
$panel-default-border: $content-border-color;
$panel-default-text: $blue-grey;

$list-group-hover-bg: $pale-grey;
$well-bg: $pale-grey;
$well-border: $content-border-color;

$btn-default-color: $cloudy-blue;
$btn-default-bg: $white;
$btn-default-border: $cloudy-blue;
$btn-primary-bg: $brand-primary;

$input-border: transparentize($cloudy-blue, 0.56);
$input-color: $dark-blue-grey;


$non-brand-success: $brand-success;

$code-color:                  none;
$code-bg:                     none;
$pre-bg:                      none;
$pre-color:                   none;
$pre-border-color:            none;
$pre-scrollable-max-height:   none;

// ----------------------------------------------------------------------------
// Fonts
// ----------------------------------------------------------------------------

/* Bootstrap Overrides */
$font-size-base: 14px;

$font-family-sans-serif: "Circular", sans-serif;
$font-family-base: $font-family-sans-serif;
// TODO(renfredxh): Add DejaVu as an alternative to Menlo.
$font-family-monospace: Menlo, Consolas, Monaco, "Courier New", monospace;
$blockquote-font-size: $font-size-base;

// ----------------------------------------------------------------------------
// Z-index
// ----------------------------------------------------------------------------

$z-index:            (
	loading-indicator: 3100,
	modal:             3010,
	tree-search-modal: 3005,
	modal-backdrop:    3000,
	tooltip:           2030,
	token-details-box: 2020,
	nav-search-input:  2010,
	navbar:            2000,
	alert:             1040,
	popover:           1020,
	dropdown:          1000,
	token-popover:     1000,
	context-menu:      100,
);

/* Bootstrap Overrides */
$zindex-dropdown:         z-index(dropdown);
$zindex-popover:          z-index(popover);
$zindex-tooltip:          z-index(tooltip);
$zindex-navbar-fixed:     z-index(navbar);
$zindex-navbar:           z-index(navbar);
$zindex-modal-background: z-index(modal-backdrop);
$zindex-modal:            z-index(modal);

// ----------------------------------------------------------------------------
// Dimensions
// ----------------------------------------------------------------------------

$content-border: solid 1px $content-border-color;

$footer-height: 110px;
$motd-height: 29px;

$navbar-height: 50px;

// TODO(sqs): Remove hardcoded dimensions.
$code-line-height: 1.35em;
$code-font-size: 13px;
$code-popup-width: 600px;
$line-number-padding: 0 9px 0 2px;

/* Bootstrap Overrides */
$border-radius-base:  3px;
$border-radius-large: 4px;
$border-radius-small: 2px;

$input-border-radius:       $border-radius-base;
$input-border-radius-large: $border-radius-large;
$input-border-radius-small: $border-radius-small;

$navbar-border-radius: 0;
