{{partial "header.html" .}}

<section id="main">
	<div>
		{{$section := (replace .URLPath.URL "/" "")}}
		<h1 id="title">{{with index $.Site.Params.SectionNames $section}}{{.}}{{else}}{{title .Title}}{{end}}</h1>
		{{partial "section_list.html" .}}
	</div>
</section>

{{partial "footer.html" .}}
