{{partial "header.html" .}}

<section id="main">
	<h1 id="title">{{ .Title }}</h1>
    <article id="content" class="app-docs-body">
		{{ .Content }}
    </article>
</section>

{{partial "footer.html" .}}
