{{define "ROOT"}}
<!DOCTYPE html>
<html lang="en">
	<head
		{{if googleAnalyticsTrackingID}}data-google-analytics-tracking-id="{{googleAnalyticsTrackingID}}"{{end}}
		data-heap-analytics-id="{{heapAnalyticsID}}"
		{{if deployedGitCommitID}}data-deployed-git-commit-id="{{deployedGitCommitID}}"{{end}}
		{{if publicRavenDSN}}data-public-raven-dsn="{{publicRavenDSN}}"{{end}}
		data-current-route="{{.CurrentRoute}}"
		data-template-name="{{.TemplateName}}"
		{{if .CacheControl}}data-cache-control="{{.CacheControl}}"{{end}}
		{{if .CurrentUser}}data-current-user-login="{{.CurrentUser.Login}}"{{end}}
		{{if .CurrentUser}}data-current-user-uid="{{.CurrentUser.UID}}"{{end}}
		{{if .CurrentUser}}data-current-user-admin="{{.CurrentUser.Admin}}"{{end}}
		{{if .CurrentUser}}data-current-user-write="{{.CurrentUser.Write}}"{{end}}
		{{with .Session}}data-current-user-oauth2-access-token="{{.AccessToken}}"{{end}}
		{{if .CurrentSpanID}}data-appdash-current-span-id="{{.CurrentSpanID}}"{{end}}
		{{if .CurrentSpanID}}data-appdash-current-span-id-trace="{{.CurrentSpanID.Trace}}"{{end}}
		{{if .CurrentSpanID}}data-appdash-current-span-id-span="{{.CurrentSpanID.Span}}"{{end}}
		{{if .CurrentSpanID}}data-appdash-current-span-id-parent="{{.CurrentSpanID.Parent}}"{{end}}
		data-csrf-token="{{.CSRFToken}}"
		>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="search" type="application/opensearchdescription+xml" href="{{assetURL "/misc/opensearch.xml"}}" title="Sourcegraph" />
		<link href="{{urlToBlogAtomFeed}}" type="application/atom+xml" rel="alternate" title="The Sourcegraph Blog">
		<link rel="shortcut icon" href="{{assetURL "/img/favicon.png"}}?v=1">

		{{/* Insert this inline script before any resources to allow parallel resource fetches. */}}
		<script ignore-csp type="text/javascript">
			{{if .Features}}window._featureToggles = JSON.parse({{.Features|json}});{{end}}
			window._csrfToken = "{{.CSRFToken}}";
			window._currentUser = JSON.parse({{.CurrentUser|json}});
			{{if .CacheControl}}window._cacheControl = "{{.CacheControl}}";{{end}}
		</script>

		<link href="{{assetURL "/bundle.css"}}" rel="stylesheet">
		<link href="{{assetURL "/font/octicons/octicons.css"}}" rel="stylesheet">

		<script src="{{assetURL "/analytics.js"}}"></script>

		<link rel="canonical" href="{{.CanonicalURL}}">

		{{/* Add a noindex tag UNLESS the template data has a RobotsIndex field AND it is truthy. */}}
		{{if hasField . "RobotsIndex"}}
		{{if not .RobotsIndex}}<meta name="robots" content="noindex">{{end}}
		{{else}}
		<meta name="robots" content="noindex">
		{{end}}

		{{template "Head" $}}

		{{appconf.ExtraHeadHTML}}

		<!-- Start of sourcegraph Zendesk Widget script -->
		<script ignore-csp>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","sourcegraph.zendesk.com");
		/*]]>*/</script>
		<!-- End of sourcegraph Zendesk Widget script -->

		<!-- Start of Fullstory script -->
		<script ignore-csp>
			window["_fs_debug"] = false;
			window["_fs_host"] = "www.fullstory.com";
			window["_fs_org"] = "WQW7";
			(function(m,n,e,t,l,o,g,y){g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];o=n.createElement(t);o.async=1;o.src="https://"+_fs_host+"/s/fs.js";y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){FS(l,v)};g.identifyAccount=function(i,v){o="account";v=v||{};v.acctId=i;FS(o,v)};g.clearUserCookie=function(d,i){d=n.domain;while(1){n.cookie="fs_uid=;domain="+d+";path=/;expires="+new Date(0);i=d.indexOf(".");if(i<0)break;d=d.slice(i+1)}}})(window,document,"FS","script","user");
			{{if .CurrentUser}}
				FS.identify('{{.CurrentUser.Login}}@{{getHostName .AppURL}}', {});
			{{end}}
		</script>
		<!-- End of Fullstory script -->
	</head>

	{{$motd := ifTrue (not .HideMOTD) appconf.MOTD}}

	<body class="{{classForRoute .CurrentRoute}}"
		{{if hasField . "Repo"}}
			data-current-repo-url="{{(urlToRepo .Repo.URI).String}}"
		{{end}}
		{{if fileSearchDisabled}}
			data-file-search-disabled="true"
		{{end}}
	>

		<header class="page-header">
			{{with $motd}}<div class="motd">{{.}}</div>{{end}}

			{{template "Nav" $}}

			<!-- If the "RepoSubnav" template is defined in the current -->
			<!-- template, include it. -->
			<!-- The "RepoSubnav" definition is in "repo/subnav.html" -->
			{{ifTemplate .Common.TemplateName "RepoSubnav" $}}
		</header>

		<div class="container{{if .FullWidth}}-fluid{{end}} body" id="main">
			{{template "Body" $}}
		</div>

		{{template "Footer" $}}

		{{if .Debug}}
		<div id="debug">
			<div class="verbose">
			{{if not (eq buildvar.Version "dev")}}{{buildvar.Version}}<br>{{end}}
			{{if buildvar.CommitID}}
				{{hostname}}<br>
				@{{buildvar.CommitID|maxLen 7}} &nbsp;
			{{end}}
			</div>

			{{if .CurrentSpanID.Span}}
				<a href="{{urlToAppdashTrace .Ctx .CurrentSpanID.Trace}}" target="_blank">...</a>
			{{end}}
		</div>
		{{end}}

		{{if appconf.CustomFeedbackForm}}
			<div id="custom-feedback-form">{{customFeedbackForm}}</div>
		{{end}}

		{{template "KeyboardShortcutsHelp" $}}

		{{with appconf.WebpackDevServerURL}}
			<script src="{{.}}/webpack-dev-server.js"></script>
		{{end}}

		<script src="{{assetURL "/bundle.js"}}"></script>
		{{appconf.ExtraBodyHTML}}
	</body>
</html>
{{end}}
